-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."WithdrawalMethod" AS ENUM ('MOMO', 'BANK', 'CASH');

-- CreateEnum
CREATE TYPE "public"."WithdrawalStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'PAID', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."RebateStatus" AS ENUM ('PENDING', 'VALIDATED', 'PAID', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."RebateRateType" AS ENUM ('GLOBAL', 'PARTNER', 'AUTHOR', 'WORK');

-- CreateEnum
CREATE TYPE "public"."Role" AS ENUM ('PDG', 'REPRESENTANT', 'CONCEPTEUR', 'AUTEUR', 'PARTENAIRE', 'CLIENT', 'INVITE');

-- CreateEnum
CREATE TYPE "public"."UserStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'ACTIVE', 'INACTIVE', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "public"."ProjectStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'UNDER_REVIEW', 'ACCEPTED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."WorkStatus" AS ENUM ('DRAFT', 'PENDING', 'PUBLISHED', 'REJECTED', 'ON_SALE', 'OUT_OF_STOCK', 'DISCONTINUED', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "public"."OrderStatus" AS ENUM ('PENDING', 'VALIDATED', 'PROCESSING', 'SHIPPED', 'DELIVERED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."DeliveryNoteStatus" AS ENUM ('PENDING', 'VALIDATED', 'CONTROLLED', 'COMPLETED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."ProformaStatus" AS ENUM ('PENDING', 'SENT', 'AWAITING_RESPONSE', 'ACCEPTED', 'REJECTED', 'CONVERTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."StockRequestStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'PROCESSING', 'DELIVERED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."StockRequestType" AS ENUM ('COMMANDE', 'PRECOMMANDE', 'DEPOT', 'REAPPROVISIONNEMENT');

-- CreateEnum
CREATE TYPE "public"."StockMovementType" AS ENUM ('INBOUND', 'OUTBOUND', 'ADJUSTMENT', 'TRANSFER', 'DAMAGED', 'EXPIRED', 'PARTNER_ALLOCATION', 'PARTNER_SALE', 'PARTNER_RETURN', 'DIRECT_SALE', 'CORRECTION', 'INVENTORY');

-- CreateEnum
CREATE TYPE "public"."SaleType" AS ENUM ('DIRECT', 'ONLINE', 'PARTNER', 'SCHOOL', 'BULK');

-- CreateEnum
CREATE TYPE "public"."DistributionType" AS ENUM ('SCHOOL', 'LIBRARY', 'PARTNER', 'PROMOTION', 'SAMPLE');

-- CreateEnum
CREATE TYPE "public"."AlertRuleType" AS ENUM ('STOCK_LOW', 'STOCK_OUT', 'SALES_THRESHOLD', 'PRICE_CHANGE', 'EXPIRY_WARNING', 'CUSTOM');

-- CreateEnum
CREATE TYPE "public"."AlertPriority" AS ENUM ('LOW', 'MEDIUM', 'HIGH', 'CRITICAL');

-- CreateEnum
CREATE TYPE "public"."AlertType" AS ENUM ('STOCK_LOW', 'STOCK_OUT', 'SALES_SPIKE', 'PRICE_CHANGE', 'EXPIRY_WARNING', 'INTEGRATION_ERROR', 'REPORT_FAILED', 'CUSTOM');

-- CreateEnum
CREATE TYPE "public"."AlertSeverity" AS ENUM ('INFO', 'WARNING', 'ERROR', 'CRITICAL');

-- CreateEnum
CREATE TYPE "public"."ReportType" AS ENUM ('INVENTORY_SUMMARY', 'SALES_ANALYSIS', 'STOCK_MOVEMENTS', 'ALERTS_SUMMARY', 'CUSTOM');

-- CreateEnum
CREATE TYPE "public"."ExecutionStatus" AS ENUM ('PENDING', 'RUNNING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."IntegrationType" AS ENUM ('ORDER_SYSTEM', 'ACCOUNTING_SYSTEM', 'WAREHOUSE_SYSTEM', 'ECOMMERCE_PLATFORM', 'CUSTOM');

-- CreateEnum
CREATE TYPE "public"."SyncStatus" AS ENUM ('PENDING', 'SYNCING', 'SUCCESS', 'FAILED', 'DISABLED');

-- CreateEnum
CREATE TYPE "public"."PromotionStatus" AS ENUM ('ACTIF', 'INACTIF', 'EXPIRE');

-- CreateEnum
CREATE TYPE "public"."DiscountStatus" AS ENUM ('ACTIF', 'INACTIF');

-- CreateEnum
CREATE TYPE "public"."ClientStatus" AS ENUM ('EN_ATTENTE', 'ACTIF', 'INACTIF', 'SUSPENDU');

-- CreateEnum
CREATE TYPE "public"."CommunicationType" AS ENUM ('ANNOUNCEMENT', 'NOTIFICATION', 'PROMOTION', 'POLICY');

-- CreateEnum
CREATE TYPE "public"."CommunicationStatus" AS ENUM ('DRAFT', 'SCHEDULED', 'SENT', 'CANCELLED');

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "password" TEXT NOT NULL,
    "role" "public"."Role" NOT NULL,
    "status" "public"."UserStatus" NOT NULL DEFAULT 'PENDING',
    "disciplineId" TEXT,
    "representantId" TEXT,
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Project" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "objectives" TEXT,
    "expectedDeliverables" TEXT,
    "requiredResources" TEXT,
    "timeline" TEXT,
    "rejectionReason" TEXT,
    "disciplineId" TEXT NOT NULL,
    "status" "public"."ProjectStatus" NOT NULL DEFAULT 'DRAFT',
    "submittedAt" TIMESTAMP(3),
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "concepteurId" TEXT NOT NULL,
    "reviewerId" TEXT,

    CONSTRAINT "Project_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Work" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "isbn" TEXT NOT NULL,
    "internalCode" TEXT,
    "price" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "tva" DOUBLE PRECISION NOT NULL DEFAULT 0.18,
    "discountRate" DOUBLE PRECISION,
    "stock" INTEGER NOT NULL DEFAULT 0,
    "minStock" INTEGER NOT NULL DEFAULT 10,
    "maxStock" INTEGER,
    "physicalStock" INTEGER NOT NULL DEFAULT 0,
    "category" TEXT,
    "targetAudience" TEXT,
    "educationalObjectives" TEXT,
    "contentType" TEXT,
    "keywords" TEXT,
    "files" TEXT,
    "validationComment" TEXT,
    "rejectionReason" TEXT,
    "disciplineId" TEXT NOT NULL,
    "status" "public"."WorkStatus" NOT NULL DEFAULT 'PENDING',
    "publishedAt" TIMESTAMP(3),
    "publicationDate" TIMESTAMP(3),
    "version" TEXT,
    "submittedAt" TIMESTAMP(3),
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "authorId" TEXT NOT NULL,
    "reviewerId" TEXT,
    "concepteurId" TEXT,
    "projectId" TEXT,

    CONSTRAINT "Work_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockMovement" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "type" "public"."StockMovementType" NOT NULL,
    "quantity" INTEGER NOT NULL,
    "reason" TEXT,
    "reference" TEXT,
    "performedBy" TEXT,
    "partnerId" TEXT,
    "source" TEXT,
    "destination" TEXT,
    "unitPrice" DOUBLE PRECISION,
    "totalAmount" DOUBLE PRECISION,
    "isCorrection" BOOLEAN NOT NULL DEFAULT false,
    "correctionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StockMovement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Discipline" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Discipline_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Sale" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Sale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Partner" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "address" TEXT,
    "phone" TEXT,
    "email" TEXT,
    "contact" TEXT,
    "website" TEXT,
    "description" TEXT,
    "representantId" TEXT,
    "userId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Partner_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PartnerStock" (
    "id" TEXT NOT NULL,
    "partnerId" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "allocatedQuantity" INTEGER NOT NULL,
    "soldQuantity" INTEGER NOT NULL DEFAULT 0,
    "returnedQuantity" INTEGER NOT NULL DEFAULT 0,
    "availableQuantity" INTEGER NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PartnerStock_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Order" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "partnerId" TEXT,
    "paymentMethod" TEXT,
    "paymentReference" TEXT,
    "subtotal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "tax" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "promoCode" TEXT,
    "total" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" "public"."OrderStatus" NOT NULL DEFAULT 'PENDING',

    CONSTRAINT "Order_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."OrderItem" (
    "id" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "price" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "OrderItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryNote" (
    "id" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "orderId" TEXT NOT NULL,
    "generatedById" TEXT NOT NULL,
    "validatedById" TEXT,
    "validatedAt" TIMESTAMP(3),
    "controlledById" TEXT,
    "controlledAt" TIMESTAMP(3),
    "status" "public"."DeliveryNoteStatus" NOT NULL DEFAULT 'PENDING',
    "period" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DeliveryNote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Proforma" (
    "id" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "partnerId" TEXT,
    "userId" TEXT,
    "createdById" TEXT NOT NULL,
    "subtotal" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "discountPercent" DOUBLE PRECISION,
    "tax" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "status" "public"."ProformaStatus" NOT NULL DEFAULT 'PENDING',
    "notes" TEXT,
    "deliveryZone" TEXT,
    "sentAt" TIMESTAMP(3),
    "respondedAt" TIMESTAMP(3),
    "convertedToOrderId" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,
    "parentProformaId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Proforma_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ProformaItem" (
    "id" TEXT NOT NULL,
    "proformaId" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "unitPrice" DOUBLE PRECISION NOT NULL,
    "discount" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "total" DOUBLE PRECISION NOT NULL,

    CONSTRAINT "ProformaItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockRequest" (
    "id" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "requestedById" TEXT NOT NULL,
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "status" "public"."StockRequestStatus" NOT NULL DEFAULT 'PENDING',
    "type" "public"."StockRequestType" NOT NULL,
    "method" TEXT,
    "period" TEXT,
    "deliveryDate" TIMESTAMP(3),
    "departmentId" TEXT,
    "zoneId" TEXT,
    "orderId" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockRequestItem" (
    "id" TEXT NOT NULL,
    "requestId" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "approvedQuantity" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StockRequestItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Royalty" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "approved" BOOLEAN NOT NULL DEFAULT false,
    "approvedAt" TIMESTAMP(3),
    "paid" BOOLEAN NOT NULL DEFAULT false,
    "paidAt" TIMESTAMP(3),
    "orderId" TEXT,
    "saleId" TEXT,
    "rate" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Royalty_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Withdrawal" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "method" "public"."WithdrawalMethod" NOT NULL,
    "momoNumber" TEXT,
    "bankName" TEXT,
    "bankAccount" TEXT,
    "bankAccountName" TEXT,
    "status" "public"."WithdrawalStatus" NOT NULL DEFAULT 'PENDING',
    "requestedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "validatedById" TEXT,
    "validatedAt" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Withdrawal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RepresentantWithdrawal" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "method" "public"."WithdrawalMethod" NOT NULL,
    "momoNumber" TEXT,
    "bankName" TEXT,
    "bankAccount" TEXT,
    "bankAccountName" TEXT,
    "status" "public"."WithdrawalStatus" NOT NULL DEFAULT 'PENDING',
    "requestedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "validatedById" TEXT,
    "validatedAt" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RepresentantWithdrawal_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."PartnerRebate" (
    "id" TEXT NOT NULL,
    "partnerId" TEXT NOT NULL,
    "orderId" TEXT,
    "saleId" TEXT,
    "workId" TEXT,
    "amount" DOUBLE PRECISION NOT NULL,
    "rate" DOUBLE PRECISION NOT NULL,
    "status" "public"."RebateStatus" NOT NULL DEFAULT 'PENDING',
    "validatedById" TEXT,
    "validatedAt" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PartnerRebate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RebateRate" (
    "id" TEXT NOT NULL,
    "type" "public"."RebateRateType" NOT NULL,
    "partnerId" TEXT,
    "userId" TEXT,
    "workId" TEXT,
    "rate" DOUBLE PRECISION NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RebateRate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Message" (
    "id" TEXT NOT NULL,
    "subject" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'MESSAGE',
    "read" BOOLEAN NOT NULL DEFAULT false,
    "readAt" TIMESTAMP(3),
    "senderId" TEXT NOT NULL,
    "recipientId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Message_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "data" TEXT,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."NotificationChain" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "clientId" TEXT,
    "scheduledDate" TIMESTAMP(3) NOT NULL,
    "sendSMS" BOOLEAN NOT NULL DEFAULT true,
    "sendEmail" BOOLEAN NOT NULL DEFAULT true,
    "daysBefore" INTEGER NOT NULL DEFAULT 1,
    "status" TEXT NOT NULL DEFAULT 'Actif',
    "message" TEXT NOT NULL,
    "orderId" TEXT,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "NotificationChain_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AuditLog" (
    "id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "userId" TEXT,
    "performedBy" TEXT NOT NULL,
    "details" TEXT NOT NULL,
    "metadata" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AdvancedSetting" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'string',
    "category" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Actif',
    "updatedById" TEXT,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AdvancedSetting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WorkVersion" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "version" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "publishedAt" TIMESTAMP(3),
    "archivedAt" TIMESTAMP(3),
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WorkVersion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WorkSale" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "amount" DOUBLE PRECISION NOT NULL,
    "saleType" "public"."SaleType" NOT NULL DEFAULT 'DIRECT',
    "customerId" TEXT,
    "orderId" TEXT,
    "saleDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WorkSale_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WorkDistribution" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL,
    "distributionType" "public"."DistributionType" NOT NULL DEFAULT 'SCHOOL',
    "recipientId" TEXT,
    "recipientName" TEXT,
    "distributionDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WorkDistribution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."WorkView" (
    "id" TEXT NOT NULL,
    "workId" TEXT NOT NULL,
    "viewerId" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "viewedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "WorkView_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockAlertRule" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "type" "public"."AlertRuleType" NOT NULL,
    "conditions" TEXT NOT NULL,
    "actions" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "priority" "public"."AlertPriority" NOT NULL DEFAULT 'MEDIUM',
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockAlertRule_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockAlert" (
    "id" TEXT NOT NULL,
    "ruleId" TEXT,
    "workId" TEXT,
    "type" "public"."AlertType" NOT NULL,
    "severity" "public"."AlertSeverity" NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "data" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "isResolved" BOOLEAN NOT NULL DEFAULT false,
    "resolvedBy" TEXT,
    "resolvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StockAlert_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockReport" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "public"."ReportType" NOT NULL,
    "parameters" TEXT NOT NULL,
    "schedule" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastRun" TIMESTAMP(3),
    "nextRun" TIMESTAMP(3),
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockReport_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ReportExecution" (
    "id" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "status" "public"."ExecutionStatus" NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "result" TEXT,
    "error" TEXT,
    "filePath" TEXT,

    CONSTRAINT "ReportExecution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StockIntegration" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "public"."IntegrationType" NOT NULL,
    "config" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastSync" TIMESTAMP(3),
    "syncStatus" "public"."SyncStatus" NOT NULL DEFAULT 'PENDING',
    "errorCount" INTEGER NOT NULL DEFAULT 0,
    "lastError" TEXT,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StockIntegration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Promotion" (
    "id" TEXT NOT NULL,
    "libelle" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "periode" TEXT NOT NULL,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "livre" TEXT NOT NULL,
    "statut" "public"."PromotionStatus" NOT NULL DEFAULT 'ACTIF',
    "taux" TEXT NOT NULL,
    "quantiteMinimale" INTEGER NOT NULL DEFAULT 1,
    "description" TEXT,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Promotion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Category" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Category_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SchoolClass" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "section" TEXT NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SchoolClass_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Discount" (
    "id" TEXT NOT NULL,
    "client" TEXT NOT NULL,
    "livre" TEXT NOT NULL,
    "quantiteMin" INTEGER NOT NULL DEFAULT 1,
    "reduction" DOUBLE PRECISION NOT NULL,
    "statut" "public"."DiscountStatus" NOT NULL DEFAULT 'ACTIF',
    "description" TEXT,
    "type" TEXT NOT NULL DEFAULT 'Montant',
    "image" TEXT,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Discount_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Client" (
    "id" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "telephone" TEXT,
    "email" TEXT,
    "type" TEXT NOT NULL,
    "departement" TEXT,
    "address" TEXT,
    "city" TEXT,
    "contact" TEXT,
    "statut" "public"."ClientStatus" NOT NULL DEFAULT 'EN_ATTENTE',
    "dette" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "notes" TEXT,
    "representantId" TEXT,
    "totalOrders" INTEGER NOT NULL DEFAULT 0,
    "totalSpent" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "lastOrder" TIMESTAMP(3),
    "createdBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Client_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Communication" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" "public"."CommunicationType" NOT NULL DEFAULT 'ANNOUNCEMENT',
    "targetAudience" TEXT NOT NULL,
    "status" "public"."CommunicationStatus" NOT NULL DEFAULT 'DRAFT',
    "scheduledFor" TIMESTAMP(3),
    "sentAt" TIMESTAMP(3),
    "recipients" INTEGER NOT NULL DEFAULT 0,
    "readCount" INTEGER NOT NULL DEFAULT 0,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Communication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Setting" (
    "id" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "value" TEXT NOT NULL,
    "type" TEXT NOT NULL DEFAULT 'string',
    "updatedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Setting_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "public"."Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "public"."Session"("sessionToken");

-- CreateIndex
CREATE UNIQUE INDEX "Work_isbn_key" ON "public"."Work"("isbn");

-- CreateIndex
CREATE INDEX "StockMovement_workId_idx" ON "public"."StockMovement"("workId");

-- CreateIndex
CREATE INDEX "StockMovement_type_idx" ON "public"."StockMovement"("type");

-- CreateIndex
CREATE INDEX "StockMovement_createdAt_idx" ON "public"."StockMovement"("createdAt");

-- CreateIndex
CREATE INDEX "StockMovement_partnerId_idx" ON "public"."StockMovement"("partnerId");

-- CreateIndex
CREATE INDEX "StockMovement_isCorrection_idx" ON "public"."StockMovement"("isCorrection");

-- CreateIndex
CREATE UNIQUE INDEX "Discipline_name_key" ON "public"."Discipline"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Partner_userId_key" ON "public"."Partner"("userId");

-- CreateIndex
CREATE INDEX "PartnerStock_partnerId_idx" ON "public"."PartnerStock"("partnerId");

-- CreateIndex
CREATE INDEX "PartnerStock_workId_idx" ON "public"."PartnerStock"("workId");

-- CreateIndex
CREATE UNIQUE INDEX "PartnerStock_partnerId_workId_key" ON "public"."PartnerStock"("partnerId", "workId");

-- CreateIndex
CREATE INDEX "Order_promoCode_idx" ON "public"."Order"("promoCode");

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryNote_reference_key" ON "public"."DeliveryNote"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryNote_orderId_key" ON "public"."DeliveryNote"("orderId");

-- CreateIndex
CREATE INDEX "DeliveryNote_orderId_idx" ON "public"."DeliveryNote"("orderId");

-- CreateIndex
CREATE INDEX "DeliveryNote_status_idx" ON "public"."DeliveryNote"("status");

-- CreateIndex
CREATE INDEX "DeliveryNote_createdAt_idx" ON "public"."DeliveryNote"("createdAt");

-- CreateIndex
CREATE INDEX "DeliveryNote_reference_idx" ON "public"."DeliveryNote"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "Proforma_reference_key" ON "public"."Proforma"("reference");

-- CreateIndex
CREATE UNIQUE INDEX "Proforma_convertedToOrderId_key" ON "public"."Proforma"("convertedToOrderId");

-- CreateIndex
CREATE INDEX "Proforma_partnerId_idx" ON "public"."Proforma"("partnerId");

-- CreateIndex
CREATE INDEX "Proforma_userId_idx" ON "public"."Proforma"("userId");

-- CreateIndex
CREATE INDEX "Proforma_status_idx" ON "public"."Proforma"("status");

-- CreateIndex
CREATE INDEX "Proforma_createdAt_idx" ON "public"."Proforma"("createdAt");

-- CreateIndex
CREATE INDEX "Proforma_reference_idx" ON "public"."Proforma"("reference");

-- CreateIndex
CREATE INDEX "ProformaItem_proformaId_idx" ON "public"."ProformaItem"("proformaId");

-- CreateIndex
CREATE INDEX "ProformaItem_workId_idx" ON "public"."ProformaItem"("workId");

-- CreateIndex
CREATE UNIQUE INDEX "StockRequest_reference_key" ON "public"."StockRequest"("reference");

-- CreateIndex
CREATE INDEX "StockRequest_requestedById_idx" ON "public"."StockRequest"("requestedById");

-- CreateIndex
CREATE INDEX "StockRequest_status_idx" ON "public"."StockRequest"("status");

-- CreateIndex
CREATE INDEX "StockRequest_type_idx" ON "public"."StockRequest"("type");

-- CreateIndex
CREATE INDEX "StockRequest_createdAt_idx" ON "public"."StockRequest"("createdAt");

-- CreateIndex
CREATE INDEX "StockRequest_reference_idx" ON "public"."StockRequest"("reference");

-- CreateIndex
CREATE INDEX "StockRequestItem_requestId_idx" ON "public"."StockRequestItem"("requestId");

-- CreateIndex
CREATE INDEX "StockRequestItem_workId_idx" ON "public"."StockRequestItem"("workId");

-- CreateIndex
CREATE INDEX "Royalty_userId_idx" ON "public"."Royalty"("userId");

-- CreateIndex
CREATE INDEX "Royalty_workId_idx" ON "public"."Royalty"("workId");

-- CreateIndex
CREATE INDEX "Royalty_orderId_idx" ON "public"."Royalty"("orderId");

-- CreateIndex
CREATE INDEX "Royalty_paid_idx" ON "public"."Royalty"("paid");

-- CreateIndex
CREATE INDEX "Royalty_approved_idx" ON "public"."Royalty"("approved");

-- CreateIndex
CREATE INDEX "Royalty_createdAt_idx" ON "public"."Royalty"("createdAt");

-- CreateIndex
CREATE INDEX "Withdrawal_userId_idx" ON "public"."Withdrawal"("userId");

-- CreateIndex
CREATE INDEX "Withdrawal_status_idx" ON "public"."Withdrawal"("status");

-- CreateIndex
CREATE INDEX "Withdrawal_requestedAt_idx" ON "public"."Withdrawal"("requestedAt");

-- CreateIndex
CREATE INDEX "RepresentantWithdrawal_userId_idx" ON "public"."RepresentantWithdrawal"("userId");

-- CreateIndex
CREATE INDEX "RepresentantWithdrawal_status_idx" ON "public"."RepresentantWithdrawal"("status");

-- CreateIndex
CREATE INDEX "RepresentantWithdrawal_requestedAt_idx" ON "public"."RepresentantWithdrawal"("requestedAt");

-- CreateIndex
CREATE INDEX "PartnerRebate_partnerId_idx" ON "public"."PartnerRebate"("partnerId");

-- CreateIndex
CREATE INDEX "PartnerRebate_orderId_idx" ON "public"."PartnerRebate"("orderId");

-- CreateIndex
CREATE INDEX "PartnerRebate_status_idx" ON "public"."PartnerRebate"("status");

-- CreateIndex
CREATE INDEX "PartnerRebate_createdAt_idx" ON "public"."PartnerRebate"("createdAt");

-- CreateIndex
CREATE INDEX "RebateRate_type_idx" ON "public"."RebateRate"("type");

-- CreateIndex
CREATE INDEX "RebateRate_partnerId_idx" ON "public"."RebateRate"("partnerId");

-- CreateIndex
CREATE INDEX "RebateRate_userId_idx" ON "public"."RebateRate"("userId");

-- CreateIndex
CREATE INDEX "RebateRate_workId_idx" ON "public"."RebateRate"("workId");

-- CreateIndex
CREATE INDEX "RebateRate_isActive_idx" ON "public"."RebateRate"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "RebateRate_type_partnerId_userId_workId_key" ON "public"."RebateRate"("type", "partnerId", "userId", "workId");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "public"."Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "public"."Notification"("createdAt");

-- CreateIndex
CREATE INDEX "NotificationChain_clientId_idx" ON "public"."NotificationChain"("clientId");

-- CreateIndex
CREATE INDEX "NotificationChain_status_idx" ON "public"."NotificationChain"("status");

-- CreateIndex
CREATE INDEX "NotificationChain_scheduledDate_idx" ON "public"."NotificationChain"("scheduledDate");

-- CreateIndex
CREATE INDEX "NotificationChain_createdAt_idx" ON "public"."NotificationChain"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "AdvancedSetting_key_key" ON "public"."AdvancedSetting"("key");

-- CreateIndex
CREATE INDEX "AdvancedSetting_key_idx" ON "public"."AdvancedSetting"("key");

-- CreateIndex
CREATE INDEX "AdvancedSetting_category_idx" ON "public"."AdvancedSetting"("category");

-- CreateIndex
CREATE INDEX "AdvancedSetting_status_idx" ON "public"."AdvancedSetting"("status");

-- CreateIndex
CREATE INDEX "WorkVersion_workId_idx" ON "public"."WorkVersion"("workId");

-- CreateIndex
CREATE INDEX "WorkVersion_version_idx" ON "public"."WorkVersion"("version");

-- CreateIndex
CREATE INDEX "WorkVersion_isActive_idx" ON "public"."WorkVersion"("isActive");

-- CreateIndex
CREATE INDEX "WorkSale_workId_idx" ON "public"."WorkSale"("workId");

-- CreateIndex
CREATE INDEX "WorkSale_saleDate_idx" ON "public"."WorkSale"("saleDate");

-- CreateIndex
CREATE INDEX "WorkSale_saleType_idx" ON "public"."WorkSale"("saleType");

-- CreateIndex
CREATE INDEX "WorkDistribution_workId_idx" ON "public"."WorkDistribution"("workId");

-- CreateIndex
CREATE INDEX "WorkDistribution_distributionDate_idx" ON "public"."WorkDistribution"("distributionDate");

-- CreateIndex
CREATE INDEX "WorkDistribution_distributionType_idx" ON "public"."WorkDistribution"("distributionType");

-- CreateIndex
CREATE INDEX "WorkView_workId_idx" ON "public"."WorkView"("workId");

-- CreateIndex
CREATE INDEX "WorkView_viewedAt_idx" ON "public"."WorkView"("viewedAt");

-- CreateIndex
CREATE INDEX "WorkView_viewerId_idx" ON "public"."WorkView"("viewerId");

-- CreateIndex
CREATE INDEX "StockAlertRule_type_idx" ON "public"."StockAlertRule"("type");

-- CreateIndex
CREATE INDEX "StockAlertRule_isActive_idx" ON "public"."StockAlertRule"("isActive");

-- CreateIndex
CREATE INDEX "StockAlertRule_priority_idx" ON "public"."StockAlertRule"("priority");

-- CreateIndex
CREATE INDEX "StockAlert_type_idx" ON "public"."StockAlert"("type");

-- CreateIndex
CREATE INDEX "StockAlert_severity_idx" ON "public"."StockAlert"("severity");

-- CreateIndex
CREATE INDEX "StockAlert_isRead_idx" ON "public"."StockAlert"("isRead");

-- CreateIndex
CREATE INDEX "StockAlert_isResolved_idx" ON "public"."StockAlert"("isResolved");

-- CreateIndex
CREATE INDEX "StockAlert_createdAt_idx" ON "public"."StockAlert"("createdAt");

-- CreateIndex
CREATE INDEX "StockReport_type_idx" ON "public"."StockReport"("type");

-- CreateIndex
CREATE INDEX "StockReport_isActive_idx" ON "public"."StockReport"("isActive");

-- CreateIndex
CREATE INDEX "StockReport_nextRun_idx" ON "public"."StockReport"("nextRun");

-- CreateIndex
CREATE INDEX "ReportExecution_reportId_idx" ON "public"."ReportExecution"("reportId");

-- CreateIndex
CREATE INDEX "ReportExecution_status_idx" ON "public"."ReportExecution"("status");

-- CreateIndex
CREATE INDEX "ReportExecution_startedAt_idx" ON "public"."ReportExecution"("startedAt");

-- CreateIndex
CREATE INDEX "StockIntegration_type_idx" ON "public"."StockIntegration"("type");

-- CreateIndex
CREATE INDEX "StockIntegration_isActive_idx" ON "public"."StockIntegration"("isActive");

-- CreateIndex
CREATE INDEX "StockIntegration_syncStatus_idx" ON "public"."StockIntegration"("syncStatus");

-- CreateIndex
CREATE UNIQUE INDEX "Promotion_code_key" ON "public"."Promotion"("code");

-- CreateIndex
CREATE INDEX "Promotion_code_idx" ON "public"."Promotion"("code");

-- CreateIndex
CREATE INDEX "Promotion_statut_idx" ON "public"."Promotion"("statut");

-- CreateIndex
CREATE UNIQUE INDEX "Category_name_key" ON "public"."Category"("name");

-- CreateIndex
CREATE INDEX "Category_name_idx" ON "public"."Category"("name");

-- CreateIndex
CREATE INDEX "Category_isActive_idx" ON "public"."Category"("isActive");

-- CreateIndex
CREATE UNIQUE INDEX "SchoolClass_name_key" ON "public"."SchoolClass"("name");

-- CreateIndex
CREATE INDEX "SchoolClass_name_idx" ON "public"."SchoolClass"("name");

-- CreateIndex
CREATE INDEX "SchoolClass_section_idx" ON "public"."SchoolClass"("section");

-- CreateIndex
CREATE INDEX "SchoolClass_isActive_idx" ON "public"."SchoolClass"("isActive");

-- CreateIndex
CREATE INDEX "Discount_statut_idx" ON "public"."Discount"("statut");

-- CreateIndex
CREATE INDEX "Discount_client_idx" ON "public"."Discount"("client");

-- CreateIndex
CREATE INDEX "Client_statut_idx" ON "public"."Client"("statut");

-- CreateIndex
CREATE INDEX "Client_type_idx" ON "public"."Client"("type");

-- CreateIndex
CREATE INDEX "Client_representantId_idx" ON "public"."Client"("representantId");

-- CreateIndex
CREATE INDEX "Client_email_idx" ON "public"."Client"("email");

-- CreateIndex
CREATE INDEX "Communication_status_idx" ON "public"."Communication"("status");

-- CreateIndex
CREATE INDEX "Communication_type_idx" ON "public"."Communication"("type");

-- CreateIndex
CREATE INDEX "Communication_createdAt_idx" ON "public"."Communication"("createdAt");

-- CreateIndex
CREATE INDEX "Setting_category_idx" ON "public"."Setting"("category");

-- CreateIndex
CREATE UNIQUE INDEX "Setting_category_key_key" ON "public"."Setting"("category", "key");

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_disciplineId_fkey" FOREIGN KEY ("disciplineId") REFERENCES "public"."Discipline"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_representantId_fkey" FOREIGN KEY ("representantId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Project" ADD CONSTRAINT "Project_concepteurId_fkey" FOREIGN KEY ("concepteurId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Project" ADD CONSTRAINT "Project_disciplineId_fkey" FOREIGN KEY ("disciplineId") REFERENCES "public"."Discipline"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Project" ADD CONSTRAINT "Project_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Work" ADD CONSTRAINT "Work_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Work" ADD CONSTRAINT "Work_concepteurId_fkey" FOREIGN KEY ("concepteurId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Work" ADD CONSTRAINT "Work_disciplineId_fkey" FOREIGN KEY ("disciplineId") REFERENCES "public"."Discipline"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Work" ADD CONSTRAINT "Work_projectId_fkey" FOREIGN KEY ("projectId") REFERENCES "public"."Project"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Work" ADD CONSTRAINT "Work_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."Partner"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_performedBy_fkey" FOREIGN KEY ("performedBy") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockMovement" ADD CONSTRAINT "StockMovement_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Sale" ADD CONSTRAINT "Sale_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Partner" ADD CONSTRAINT "Partner_representantId_fkey" FOREIGN KEY ("representantId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Partner" ADD CONSTRAINT "Partner_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PartnerStock" ADD CONSTRAINT "PartnerStock_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."Partner"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PartnerStock" ADD CONSTRAINT "PartnerStock_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Order" ADD CONSTRAINT "Order_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."Partner"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Order" ADD CONSTRAINT "Order_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."OrderItem" ADD CONSTRAINT "OrderItem_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."Order"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."OrderItem" ADD CONSTRAINT "OrderItem_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryNote" ADD CONSTRAINT "DeliveryNote_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."Order"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryNote" ADD CONSTRAINT "DeliveryNote_generatedById_fkey" FOREIGN KEY ("generatedById") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryNote" ADD CONSTRAINT "DeliveryNote_validatedById_fkey" FOREIGN KEY ("validatedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryNote" ADD CONSTRAINT "DeliveryNote_controlledById_fkey" FOREIGN KEY ("controlledById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Proforma" ADD CONSTRAINT "Proforma_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."Partner"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Proforma" ADD CONSTRAINT "Proforma_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Proforma" ADD CONSTRAINT "Proforma_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Proforma" ADD CONSTRAINT "Proforma_convertedToOrderId_fkey" FOREIGN KEY ("convertedToOrderId") REFERENCES "public"."Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Proforma" ADD CONSTRAINT "Proforma_parentProformaId_fkey" FOREIGN KEY ("parentProformaId") REFERENCES "public"."Proforma"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProformaItem" ADD CONSTRAINT "ProformaItem_proformaId_fkey" FOREIGN KEY ("proformaId") REFERENCES "public"."Proforma"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ProformaItem" ADD CONSTRAINT "ProformaItem_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockRequest" ADD CONSTRAINT "StockRequest_requestedById_fkey" FOREIGN KEY ("requestedById") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockRequest" ADD CONSTRAINT "StockRequest_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockRequest" ADD CONSTRAINT "StockRequest_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockRequestItem" ADD CONSTRAINT "StockRequestItem_requestId_fkey" FOREIGN KEY ("requestId") REFERENCES "public"."StockRequest"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockRequestItem" ADD CONSTRAINT "StockRequestItem_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Royalty" ADD CONSTRAINT "Royalty_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Royalty" ADD CONSTRAINT "Royalty_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Royalty" ADD CONSTRAINT "Royalty_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Withdrawal" ADD CONSTRAINT "Withdrawal_validatedById_fkey" FOREIGN KEY ("validatedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Withdrawal" ADD CONSTRAINT "Withdrawal_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RepresentantWithdrawal" ADD CONSTRAINT "RepresentantWithdrawal_validatedById_fkey" FOREIGN KEY ("validatedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RepresentantWithdrawal" ADD CONSTRAINT "RepresentantWithdrawal_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PartnerRebate" ADD CONSTRAINT "PartnerRebate_validatedById_fkey" FOREIGN KEY ("validatedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PartnerRebate" ADD CONSTRAINT "PartnerRebate_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."Partner"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PartnerRebate" ADD CONSTRAINT "PartnerRebate_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."PartnerRebate" ADD CONSTRAINT "PartnerRebate_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RebateRate" ADD CONSTRAINT "RebateRate_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RebateRate" ADD CONSTRAINT "RebateRate_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."Partner"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RebateRate" ADD CONSTRAINT "RebateRate_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RebateRate" ADD CONSTRAINT "RebateRate_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Message" ADD CONSTRAINT "Message_recipientId_fkey" FOREIGN KEY ("recipientId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Message" ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NotificationChain" ADD CONSTRAINT "NotificationChain_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NotificationChain" ADD CONSTRAINT "NotificationChain_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES "public"."Order"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."NotificationChain" ADD CONSTRAINT "NotificationChain_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AdvancedSetting" ADD CONSTRAINT "AdvancedSetting_updatedById_fkey" FOREIGN KEY ("updatedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkVersion" ADD CONSTRAINT "WorkVersion_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkVersion" ADD CONSTRAINT "WorkVersion_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkSale" ADD CONSTRAINT "WorkSale_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkSale" ADD CONSTRAINT "WorkSale_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkDistribution" ADD CONSTRAINT "WorkDistribution_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkView" ADD CONSTRAINT "WorkView_viewerId_fkey" FOREIGN KEY ("viewerId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."WorkView" ADD CONSTRAINT "WorkView_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAlertRule" ADD CONSTRAINT "StockAlertRule_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAlert" ADD CONSTRAINT "StockAlert_resolvedBy_fkey" FOREIGN KEY ("resolvedBy") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAlert" ADD CONSTRAINT "StockAlert_ruleId_fkey" FOREIGN KEY ("ruleId") REFERENCES "public"."StockAlertRule"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockAlert" ADD CONSTRAINT "StockAlert_workId_fkey" FOREIGN KEY ("workId") REFERENCES "public"."Work"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockReport" ADD CONSTRAINT "StockReport_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ReportExecution" ADD CONSTRAINT "ReportExecution_reportId_fkey" FOREIGN KEY ("reportId") REFERENCES "public"."StockReport"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StockIntegration" ADD CONSTRAINT "StockIntegration_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

